@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
    /* Gray 900 */
    --primary: #3730a3;
    /* Indigo 800 */
    --primary-foreground: #ffffff;
    --muted: #f3f4f6;
    /* Gray 100 */
    --muted-foreground: #4b5563;
    /* Gray 600 */
    --accent: #eef2ff;
    /* Indigo 50 */
    --accent-foreground: #3730a3;
    /* Indigo 800 */
    --border: #e5e7eb;
    /* Gray 200 */

    --radius: 0.5rem;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);

  --font-serif: "Crimson Pro", serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-semibold tracking-tight;
  }
}